@tailwind base;
@tailwind components;
@tailwind utilities;

.text-primary {
  color: #4D8C3B;
}

.text-cream {
  color: #FCEFE0;
}

.bg-canary {
  background-color: #FFD37D;
}

.bg-primary {
  background-color: #4D8C3B;
}

.bg-orange {
  background-color: #F48806;
}

.border-primary {
  border-color: #0B162F;
}

button.bg-canary:hover {
  background-color: #ffc757;
}

.difference {
  mix-blend-mode: difference;
}

.bg-cream {
  background-color: #FCEFE0;
}

.font-condensed {
  font-stretch: condensed;
}
